$primary-color: #333333;
$secondary-color: #777777;
$font-color: #CCCCCC;
$header-background: #1F2A36;
$add-button-bg-color: #3B82F6;
$black: black;
$table-border-color: #F9FAFB;
$table-bg-color: #F9FAFB;

// Override variables

$primary-color: #1e2a37;
$gray: #E1E7EC;
$secondary-color: #f9fafb;
$font-color: #fcfcfc;
$primary-button: #1b71fc;
$secondary-button: #6a727f;
$third-button: #1faa51;
$form-label-color: #374150;
$form-input-color: #6B7480;
$table-th-text-color: #374150;
$table-name-text-color: #374150;
$table-td-text-color: #6B7480;

$fs-sm: 1rem;
$fs-md: 1.5rem;
$fs-lg: 2rem;

$box-shadow: 8px 8px 14px -5px rgba(0, 0, 0, 0.1);
