$primary-color: #333333;
$secondary-color: #777777;
$font-color: #CCCCCC;
$header-background: #1F2A36;
$add-button-bg-color: #3B82F6;
$black: black;
$table-border-color: #F9FAFB;
$table-bg-color: #F9FAFB;

// Override variables

$primary-color: #1e2a37;
$gray: #a1a1a1;
$secondary-color: #f9fafb;
$font-color: #fcfcfc;
$primary-button: #1b71fc;
$secondary-button: #6a727f;
$third-button: #1faa51;

$fs-sm: 14px;
$fs-md: $fs-sm + 2px;
$fs-lg: $fs-md + 14px;

$box-shadow: 8px 8px 14px -5px rgba(0, 0, 0, 0.1);
