.product-form {
  width: 100%;
  display: flex;
  justify-content: center;
  
  //borrar esto al agregar los estilos
}

.hide {
  display: none;
}


@media screen and (min-width: 1024px) {
  .product-form {
    width: 40%;
  }
}