@use '../../styles/variables';

.products-list {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  flex-direction: column;
  padding: 0 1rem;

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 320px;
    font-size: 1.2rem;
    font-weight: bold;
    color: variables.$form-input-color;
    animation: loading 1s infinite;
    transition: color 0.5s;
  }

  &__button {
    transition: all ease .5s;

    &:hover {
      opacity: .8;
    }

    &--action {
      color: variables.$add-button-bg-color;
      font-weight: bold;
      padding: 0 .4rem;
      
      &:active {
        scale: 0.9;
      }
    }

    &--add {
      color: white;
      background-color: variables.$add-button-bg-color;
      padding: .5rem 1rem;
      border-radius: 5px;
      font-weight: bold;
      font-size: 1.2rem;
      height: 40px;
      max-height: 40px;
      width: 5rem;
      max-width: 5rem;

      &:active {
        opacity: 0.5;
      }
    }
  }

  &__header {
    display: flex;
    gap: 14px;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  &__table {
    width: 100%;

    th, td {
      min-width: 110px;
    }

    thead th:first-child {
      position: sticky;
      left: 0;
      z-index: 2;
    }

    tbody tr td:first-child {
      position: sticky;
      left: 0;
      z-index: 1;
      background-color: #fff;
    }
  }

  &__table-container {
    width: 100%;
    border: 2px solid variables.$table-border-color;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    overflow: scroll;
    overflow-y: auto;
  }

  &__td {
    padding: 1.2rem 0.8rem;
    color: variables.$table-td-text-color;

    &--actions {
      display: flex;
      justify-content: flex-end;
    }

    &--bold {
      font-weight: bold;
      color: variables.$black;
      width: 40%;
      color: variables.$table-th-text-color;
    }

    &--empty {
      text-align: center;
    }
  }

  &__th {
    text-align: left;
    padding: 1.2rem 0;
    padding-left: 0.8rem;
    text-transform: uppercase;
    background-color: variables.$table-bg-color;
    color: variables.$table-th-text-color;
  }


  &__title {
    font-weight: bold;
    font-size: variables.$fs-lg;
    
  }

  tr {
    border-bottom: 2px solid variables.$table-border-color;
  }
}

@keyframes loading {
  0%, 33% {
    color: variables.$primary-color;
  }
  33%, 66% {
    color: variables.$form-input-color; 
  }
  66%, 100% {
    color: variables.$primary-color;
  }
}